<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Los videojuegos
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Los videojuegos son juegos electrónicos que se desenvuelven en un ordenador o en una videoconsola. El juego es creado en forma de programa informático que es grabado en algún medio de almacenamiento como lo pueden ser discos duros, CDs, o cartuchos especiales.Los videojuegos se hicieron populares a partir de los años 70 y dieron lugar a una importante rama dentro de la industria de la informática y los Gráficos por computadora.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Programacion
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            La programación informática es el arte del proceso por el cual se limpia, codifica, traza y protege el código fuente de programas computacionales, en otras palabras, es indicarle a la computadora lo que tiene que hacer. 

 
            La programación informática es una de las habilidades esenciales que aprendes cuando estudias informática.
             
            
            Detrás de todos los programas informáticos que conocemos y usamos de manera cotidiana para facilitarnos diversas actividades de nuestro día con día, existe todo un proceso para poderlos crear. Este proceso es conocido como programación, conozcamos un poco más sobre lo que conlleva este proceso.
            
            
            Por medio de la programación se establecen los pasos a seguir para la creación del código fuente de los diversos programas informáticos.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Programacion de Videojuegos
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            La programación de videojuegos es un proceso que pertenece a la creación de un videojuego. Este proceso es efectuado por un programador de videojuegos, gracias a la programación informática. Casi siempre, la programación de un videojuego se resume en repetir a trechos las siguientes acciones:
            <ul>
                <li>Procesar las interacciones de un agente con su entorno según las entradas del usuario.</li>
                <li>Procesar los fenómenos indirectamente controlados por el usuario.</li>
                <li>Crear una imagen a partir de esas informaciones y mostrarlo en la pantalla (igual para el sonido).</li>
              </ul>
        </div>
      </div>
    </div>
  </div>